html, body {
  margin: 0;
  padding: 0;
}

body {
  padding: 1em;
}

canvas {
  display: block;
}

#container_btns {
  display: flex;
  justify-content: space-between;
}

#grid_options_container {
  display: flex;
  justify-content: space-between;
}

#grid_options_container input {
  width: 80px;
  text-align: center;
}

#grid_options_container input::placeholder {
  text-align: left;
  font-size: 10px;
}